* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    /* font-family: sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

/* this is the code of top image  */
.main {
    background-image: url(image2.jpg);
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;

}

.main .box {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.22;
    position: absolute;
    top: 0;
}

.seperate {
    height: 3px;
    margin-top: -61px;
    background-color: rgb(65, 63, 63);
}

nav {
    margin-top: 10px;
    display: flex;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

nav img {
    width: 180px;
    color: red;
    position: relative;
    z-index: 10;
    height: 111px;
}

.hero {
    color: white;
    height: 81%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    gap: 10px;
    font-size: 17px;
    padding: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.font1 {
    font-size: 32px;
    font-weight: bolder;
}

.text {
    color: white;
    width: 50px;
    gap: 10px;
}

input {
    border: 2px solid grey;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px 24px;
    text-align: center;
    justify-content: center;
    background-color: rgba(56, 54, 54, 0.651);
    ;
}

.texts {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn3 {
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    padding: 3px 24px;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;

}

.buttons {
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn1 {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;

}

.btn1 i {
    margin-right: 8px;
    /* Icon aur text ke beech spacing */
    color: white;
}

.btn2 {
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 8px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;

}

/* this is the code end of top image  */

/* Responsive Styles */
@media (max-width: 1200px) {
    .hero {
        font-size: 16px;
    }

    .font1 {
        font-size: 28px;
    }

    nav img {
        width: 150px;
        height: 90px;
    }
}

@media (max-width: 768px) {

    /* Tablets */
    .hero {
        font-size: 14px;
    }

    .font1 {
        font-size: 24px;
    }

    .texts {
        flex-direction: column;
        width: 80%;
    }

    nav {
        max-width: 90vw;
    }

    nav img {
        width: 140px;
        height: 85px;
    }
}

@media (min-width: 480px)and(max-width:858) {

    /* Phones */
    .main {
        height: 50%;
    }

    .hero {
        font-size: 12px;
    }

    .font1 {
        font-size: 20px;
    }

    .texts {
        flex-direction: column;
        width: 90%;

    }

    .buttons {
        flex-direction: row;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    nav img {
        width: 120px;
        height: 80px;
    }

    .btn1,
    .btn2,
    .btn3 {
        width: 50%;
        font-size: 10px;
    }
}

/* responsiveness ends here  */

.first {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin-top: 55px;
    gap: 60px;
}


.firstimg img {
    width: 30vw;
    justify-content: right;
    position: relative;
    z-index: 10;
}

.firstimg video {
    width: 22vw;
    height: 218px;
    position: absolute;
    margin-left: -270px;
    padding: 1px 4px;
}

.head {
    justify-content: left;

}

.head h1 {
    font-size: 41px;
    gap: 34px;
}

.head h5 {
    font-size: 14px;
}

#height {
    margin-top: 16px;
    height: 3px;
    background-color: rgb(65, 63, 63);

}

.second {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin-top: 55px;
    gap: 30px;
}

.head2 {
    justify-content: right;
}

.secondimg img {
    justify-content: left;
    align-items: left;
    width: 30vw;
}

@media only screen and (min-width: 360px) {
    .secondimg img {
        width: 55vw;
        height: 55vh;
    }
}

.head2 h1 {
    font-size: 30px;
    gap: 34px;
}

.head2 h5 {
    font-size: 14px;
}
/*
@media only screen and (min-width: 360px) {
    .head2 {
        justify-content: right;
    }

    .head2 h1 {
        font-size: 18px;
    }

    .head2 h5 {
        font-size: 8px;
    }
}
*/

.faq {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 23px;
    padding: 34px;

}

/* first box start */
.boxof {

    color: white;
    background-color: #5e5c5c;
    border: 2px solid #5e5c5c;
    border-radius: 3px;
    padding: 14px;
    justify-content: space-between;
    display: flex;
    margin: 7px auto;
    width: 700px;

}

.boxof:hover {
    color: black;
    background-color: rgb(68, 65, 65);
    border: 2px solid rgb(68, 65, 65);
    border-radius: 3px;
    transition: all 1s ease;
}

p {
    color: white;
}

svg {
    cursor: pointer;
}

#toggleIcon line {
    transition: all 0.3s ease;
}

#netflixContent {
    margin-top: 10px;
    display: none;
}

/* first box end */
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .boxof {
        flex-wrap: wrap;
        width: 300px;
    }

}

.q {
    margin: 18px 8px;
    justify-content: center;
    align-content: center;
}

.end {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin-top: 10px;
}

.item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 23px;
    font-size: 12px;
}

@media only screen and (max-width:880px) {

    .end {
        grid-template-columns: 1fr 1fr;

    }


}